.SearchResults {
    width: 50%;
    min-width: 300px;
    height: 750px;
    overflow-y: scroll;
    padding: .88rem;
    background-color: rgba(1, 12, 63, 0.918);
    box-shadow: 5px 4px 20px 12px rgba(0, 0, 00, 0.4);
  }
  
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent;
  }
  
  @media only screen and (max-width: 1020px) {
    .SearchResults {
      height: 450px;
      width: 90%;
      margin-bottom: 2rem;
    }
  }