body {
  overflow-y: hidden;
}

#root{
  display: block;
  height: 100%; 
  overflow-y: auto;
  background-image: url('./background_photo_desktop.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

html {
  font-size: 18px;
  
}

h1 {
  padding: .77rem 0;
  background-color: #000a2e;
  margin: 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 3.88rem;
  color: #fff;
}

h1 .highlight {
  color: #fe177b;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.55rem;
}

.App {
  height: 100vh;
  padding: 0 0 2em 0;

  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #fff;
}

.App-playlist {
  display: flex;
  justify-content: space-between;
  padding: 0 20% 0 20%;
  margin-bottom: 5%;
  
}


@media only screen and (max-width: 1020px) {
  .App-playlist {
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin-bottom: 10%;
  }
}